@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Source+Sans+Pro:300,400')

html, body
  margin: 0
  padding: 0
  font-size: $font-size
  font-family: $font-sans-serif
  background-color: $color-deep
  color: $color-white-8

*
  text-decoration: none
  position: relative
  box-sizing: border-box

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0

.center-wrapper
  width: 100% - $margin-percent * 2
  margin: auto

#header-wrapper
  background-image: url(../img/placeholder.jpg)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  overflow: hidden
  .gradient
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 101%
    background: linear-gradient(0deg, transparentize($color-deep, 0) 0%, transparentize($color-deep, 0.1) 25%, transparentize($color-deep, 0.5) 100%)
  .center-wrapper
    padding-top: 30vw
    padding-bottom: 5em
    .text
      color: white
      .title
        font-family: $font-sans-serif
        font-weight: 300
        text-transform: uppercase
        font-size: 2em
        letter-spacing: $letter-spacing-high
      .description
        margin-top: 0.3em
        max-width: 350px
        opacity: 0.5
      .credits
        margin-top: 0.3em
        opacity: 0.5

#introduction-wrapper, #article-wrapper
  .article-text
    max-width: 800px
    color: white
    h1, h2
      font-family: $font-sans-serif
      font-weight: 700
      letter-spacing: $letter-spacing-mid
      text-transform: uppercase
    h1
    h2
      font-size: 0.8em
      font-style: italic
      margin-bottom: 0
      margin-top: 3em
    p
      color: rgb(150, 150, 150)
      line-height: 1.75em
      font-family: $font-serif
    blockquote
      line-height: 1.75em
      font-family: $font-serif
      font-size: 1.2em
      margin-top: 5em
      margin-bottom: 3em
      display: block
      &::before
        content: "“"
        display: block
        font-weight: 700
        color: #262626
        font-size: 5em
        position: absolute
        left: -0.5em

#article-wrapper
  padding-top: 3em

#footer-wrapper
  margin-top: 5em
  padding: 5em 0
  text-align: center
  border-top: $border-light
  .title
    letter-spacing: $letter-spacing-high
    text-transform: uppercase
    margin-bottom: 1em
  .line
    font-size: 0.9em
    color: rgb(150, 150, 150)
    margin-top: 0.5em

#navigation-wrapper
  $height: 2.5rem
  margin-top: -$height
  height: $height
  width: 100%
  .fixed-wrapper
    z-index: 10000000
    border-bottom: $border-light
    height: $height
    width: 100%
    position: relative
    top: 0
    left: 0
    right: 0
    display: flex
    justify-content: center
    align-items: center
    &.fixed
      position: fixed
      background-color: transparentize($color-deep, 0.25)
    .nav-item
      cursor: pointer
      font-size: 0.8em
      letter-spacing: $letter-spacing-mid
      text-transform: uppercase
      padding: 0 1.5em
      display: flex
      justify-content: center
      align-items: center
      height: $height
      color: $color-white-5
      &.selected
        color: white
        border-bottom: 2px solid white

#simulation-wrapper
  .scene
    overflow: hidden
    width: 100vw
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center
    padding: 4em 0
    .center-wrapper
      .top-line
        bottom: calc(100% + 2em)
      .bottom-line
        top: calc(100% + 2em)
      .top-line, .bottom-line
        position: absolute
        left: 50%
        transform: translateX(-50%)
        .circle
          width: 13px
          height: 13px
          border: 1px solid white
          border-radius: 50%
        .line
          width: 1px
          background-color: white
          height: 50vh
          margin: -1px
          left: 7px
      max-width: 450px
      .title, .question
        letter-spacing: $letter-spacing-mid
        color: white
        font-size: 0.8em
        text-align: center
        text-transform: uppercase
        font-weight: 700
      .text, .options
        margin-top: 1em
      .question
        margin-top: 2em
      .options
        .option
          background-color: $color-deep-light
          border-radius: $border-radius
          letter-spacing: $letter-spacing-mid
          color: white
          font-size: 0.8em
          text-align: center
          text-transform: uppercase
          padding: 0.5em 1em
          cursor: pointer
          margin-top: 0.5em
          border: 1px solid transparent
          transition: 0.2s all
          &:hover
            border-color: rgba(255, 255, 255, 0.2)
            background-color: transparent
          &.selected
            border-color: white
            background-color: transparent
